# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
.venv/
venv/
ENV/

# SQLite database
portfolio.db

# Streamlit
.streamlit/

# OS files
.DS_Store

# Jupyter
.ipynb_checkpoints/

# VSCode
.vscode/
